<main class="container bootdey">
<main class="main-content p-5" role="main">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <img class="card-img" src="https://i.ibb.co/2Mrrwmp/Summer-Banner-Landscape.jpg" alt="Feature Image">
                <div class="card-user-profile">
                    <div class="profile-page-left">
                        <div class="row">
                            <div class="col-lg-12 mb-4">
                                <div class="profile-picture profile-picture-lg bg-gradient bg-primary mb-4">
                                    <img src="images/{{user.avatar_file}}" width="144" height="144">
                                </div>
                                <a class="btn btn-primary btn-block btn-gradient waves-effect waves-light" href="#">
                                    <span class="gradient">
                                    <i class="batch-icon batch-icon-user-alt-add-2"></i>
                                    Follow
                                    </span>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="my-0">Followers</h5>
                                <div class="h3 my-0">
                                    <a href="#">182</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="my-0">Following</h5>
                                <div class="h3 my-0">
                                    <a href="#">141</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h5>
                            <i class="batch-icon batch-icon-users"></i>
                            Friends
                        </h5>
                        <div class="profile-page-block-outer clearfix">
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="https://i.ibb.co/NrCdny6/profile2.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="https://i.ibb.co/zXDszbB/profile3.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="https://i.ibb.co/RYf3RgK/profile5.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="https://i.ibb.co/Gs6TVfW/fur1.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-secondary">
                                    <img src="https://i.ibb.co/7z6zf6z/fur3.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="https://i.ibb.co/Z2fNk6Q/profile7.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="https://i.ibb.co/WVWMXSx/fur4.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-secondary">
                                    <img src="https://i.ibb.co/mvRJT8k/fur2.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                            </div>
                            <div class="profile-page-block">
                            </div>
                            <div class="profile-page-block">
                            </div>
                            <div class="profile-page-block">
                            </div>
                            <a class="float-right mt-2" href="#">More</a>
                        </div>
                        <hr>
                        <h5>
                      <i class="batch-icon batch-icon-image"></i>
                      Album
                    </h5>
                        <a href="#">
                            <img src="https://i.ibb.co/K7TMccj/IMG-3084.jpg" class="img-fluid img-thumbnail">
                        </a>
                        <a class="float-right mt-2" href="#">More</a>
                         <hr>
                         <h5>Random Facts</h5>
                        <div class='card'>
                            <ul class='list-group list-group-flush'>
                                <li id='catFact' class='list-group-item'></li>
                                <li id='dogFact' class='list-group-item'></li>
                                {{!-- <li class='list-group-item'></li> --}}
                            </ul>
                        </div>
                    </div>
                    <div class="profile-page-center">
                        <h1 class="card-user-profile-name"></h1>
                        <div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

      <div class="comment-block">
      <div class="form-group">
        <div class='col-md-12'>

        <textarea class="form-input form-control" id="project-desc" rows="2" placeholder="Create a new howl:"></textarea>
        <div class="media-feed-control clearfix"></div>
        <button type="click" class="btn btn-primary btn-sm comment-reply float-right waves-effect waves-light" id="howlBtn">HOWL</button>

                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Add Picture">
                                        <i class="batch-icon batch-icon-image"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <ul class="list-unstyled mt-5">
                         {{#each tweets as |tweet|}}
                         <li class="media pb-4">
                            <div class="profile-picture bg-gradient bg-primary mb-4">
                                <img src="images/{{user.avatar_file}}" width="44" height="44">
                            </div>

                            

                            <div class="media-body">
                                <div class="media-title mt-0 mb-1">
                                    <a href="#">{{tweet.user.name}}</a> <small>{{format_date tweet.date_created}}</small>
                                </div>
                                {{tweet.content}}
                                <div class="media-feed-control">
                                    <button style="color: #000000;" class="like btn btn-link" id={{tweet.id}}-{{tweet.likes}}>
                                        <i class="batch-icon batch-icon-heart-full"></i>🐾 Like ({{tweet.likes}})
                                    </button>
                                    <a style="color: #000000;" href="/tweet/{{tweet.id}}">
                                        <i  class="batch-icon batch-icon-speech-bubble-left-tip"></i>💬 Comment ({{tweet.comments.length}})
                                    </a>
                                    <a style="color: #000000;" href="#">
                                        <i class="batch-icon batch-icon-flag"></i>💩 Report
                                    </a>
                                </div>
                            </div>
                            {{#if tweet.currentUsersTweet}}
                                <div class="d-flex flex-row justify-content-end">
                                <div class='p-2 edit-button'>
                                    <a href='/edit/{{tweet.id}}'>
                                        <button class='btn btn-sm btn-danger' >Edit</button>
                                    </a>
                                </div>

                                <div class='p-2'>
                                    <button
                                    class='btn del-howl btn-sm btn-danger'
                                    data-id='{{tweet.id}}'
                                    >Scoop-It</button>
                                </div>
                            </div>
                            {{/if}}
                        </li>
                        {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>


<h4 class='text-center'>Click to select an avatar!</h4>
<div class=".justify-content-center deck rounded-circle border" id="card-deck">
</div>

{{!-- hidden modal button --}}
<button id='modalbtn' type="button" class="d-none btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
</button>

{{!-- modal logic for avatar--}}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Avatar Selection</h5>
        <button type="button" class="close" onclick="location.reload();" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id='modal-avatar' class="modal-body">
          
        You have successfully changed your avatar!
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="location.reload();" data-dismiss="modal">Close</button> 

      </div>
    </div>
  </div>
</div>
{{!-- end modal --}}

<script src='/js/likes.js'></script>
<script src='/js/profile.js'></script>
