<div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6'>
    <h3>Create a new howl:</h3>

   
      
       <form class='form new-project-form'>

      <div class='form-group'>
        <label for='project-desc'>content:</label>
        <textarea
          class='form-input form-control' rows="6"
          id='project-desc'
          name='project-desc'
        ></textarea>
      </div>
      
        <button type='submit' class='btn btn-primary'>Create</button>
     
    </form>
  </div>

  {{#if tweets.length}}
    <div class='col-md-6 project-list'>
      <h3>Previous Entries:</h3>

      {{#each tweets as |tweet|}}
        <div class='container mb-2'>
          <div class="row">
           <div class="col">


           <a href='/tweet/{{tweet.id}}'><h4 class="blog-title">{{tweet.content}}</h4> </a>
            
          <div class="row">
       
                   <div class='col-2 edit-button'>
                        <a href='/edit/{{tweet.id}}'>
                            <button class='btn btn-sm btn-danger' >Edit</button>
                        </a>
                    </div>

          <div class='col-2'>
            <button 
              class='btn btn-sm btn-danger'
              data-id='{{tweet.id}}'
            >DELETE</button>
          </div>
          </div>
          </div>
        </div>
        </div>
      {{/each}}
    
  {{/if}}


<script src='/js/profile.js'></script>
