<main class="container bootdey">
<main class="main-content p-5" role="main">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <img class="card-img" src="https://i.ibb.co/2Mrrwmp/Summer-Banner-Landscape.jpg" alt="Feature Image">
                <div class="card-user-profile">
                    <div class="profile-page-left">
                        <div class="row">
                            <div class="col-lg-12 mb-4">
                                <div class="profile-picture profile-picture-lg bg-gradient bg-primary mb-4">
                                    <img src="https://i.ibb.co/gdByQ9F/profile1.jpg" width="144" height="144">
                                </div>
                                <a class="btn btn-primary btn-block btn-gradient waves-effect waves-light" href="#">
                                    <span class="gradient">
                                <i class="batch-icon batch-icon-user-alt-add-2"></i>
                              Follow
                            </span>
                        </a>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="my-0">Followers</h5>
                                <div class="h3 my-0">
                                    <a href="#">182</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="my-0">Following</h5>
                                <div class="h3 my-0">
                                    <a href="#">141</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h5>
                      <i class="batch-icon batch-icon-users"></i>
                      Friends
                    </h5>
                        <div class="profile-page-block-outer clearfix">
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="https://i.ibb.co/NrCdny6/profile2.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="https://i.ibb.co/zXDszbB/profile3.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="https://i.ibb.co/RYf3RgK/profile5.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="https://i.ibb.co/Gs6TVfW/fur1.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-secondary">
                                    <img src="https://i.ibb.co/7z6zf6z/fur3.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="https://i.ibb.co/Z2fNk6Q/profile7.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="https://i.ibb.co/WVWMXSx/fur4.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-secondary">
                                    <img src="https://i.ibb.co/mvRJT8k/fur2.jpg" width="44" height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                            </div>
                            <div class="profile-page-block">
                            </div>
                            <div class="profile-page-block">
                            </div>
                            <div class="profile-page-block">
                            </div>
                            <a class="float-right mt-2" href="#">More</a>
                        </div>
                        <hr>
                        <h5>
                      <i class="batch-icon batch-icon-image"></i>
                      Album
                    </h5>
                        <a href="#">
                            <img src="https://i.ibb.co/K7TMccj/IMG-3084.jpg" class="img-fluid img-thumbnail">
                        </a>
                        <a class="float-right mt-2" href="#">More</a>
                    </div>
                    <div class="profile-page-center">
                        <h1 class="card-user-profile-name"></h1>
                        <div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

      <div class="comment-block">
      <div class="form-group">
        <div class='col-md-12'>

        <textarea class="form-input form-control" id="project-desc" rows="2" placeholder="Create a new howl:"></textarea>
        <div class="media-feed-control clearfix"></div>
        <button type="click" class="btn btn-primary btn-sm comment-reply float-right waves-effect waves-light" id="howlBtn">HOWL</button>


  {{#if tweets.length}}
    <div class='col-md-6 project-list'>
      <h3>Previous Entries:</h3>

      {{#each tweets as |tweet|}}
        <div class='container mb-2'>
          <div class="row">
          <div class="col">


          <a href='/tweet/{{tweet.id}}'><h4 class="blog-title">{{tweet.content}}</h4> </a>
            
          <div class="row">
                  <div class='col-2 edit-button'>
                        <a href='/edit/{{tweet.id}}'>
                            <button class='btn btn-sm btn-danger' >Edit</button>
                        </a>
                    </div>

          <div class='col-2'>
            <button 
              class='btn btn-md btn-danger'
              data-id='{{tweet.id}}'
            >Scoop It</button>
          </div>
          </div>
          </div>
        </div>
        </div>
      {{/each}}
    
  {{/if}}
                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Add Picture">
                                        <i class="batch-icon batch-icon-image"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <ul class="list-unstyled mt-5">
                            <li class="media">
                                <div class="profile-picture bg-gradient bg-primary mb-4">
                                    <img src="https://i.ibb.co/7z6zf6z/fur3.jpg" width="44" height="44">
                                </div>
                                <div class="media-body">
                                    <div class="media-title mt-0 mb-1">
                                        <a href="#">Ann de la Fur</a> <small> 1 hour ago</small>
                                    </div>
                                    My first furry convention was purr-fect!
                                    <div class="media-feed-control">
                                        <a href="#">
                                            <i class="batch-icon batch-icon-heart-full"></i>🐾 Like (4)
                                        </a>
                                        <a href="#">
                                            <i class="batch-icon batch-icon-speech-bubble-left-tip"></i>💬 Comment (2)
                                        </a>
                                        <a href="#">
                                            <i class="batch-icon batch-icon-flag"></i>💩 Report
                                        </a>
                                    </div>
                                    <div class="media-body-reply-block">
                                        <ul class="list-unstyled">
                                            <li class="media mt-4">
                                                <div class="profile-picture bg-gradient bg-primary mb-4">
                                                    <img src="https://i.ibb.co/Z2fNk6Q/profile7.jpg" width="44" height="44">
                                                </div>
                                                <div class="media-body">
                                                    <div class="media-title mt-0 mb-1">
                                                        <a href="#">Cuddles</a> <small> 45 mins ago</small>
                                                    </div>
                                                    I went to the store with ears and tail today. So many stares. Still too scared to dress up all the way. Please advise.
                                                    <div class="media-feed-control">
                                                        <a href="#">
                                                            <i class="batch-icon batch-icon-heart-full"></i>🐾 Like
                                                        </a>
                                                        <a href="#">
                                                            <i class="batch-icon batch-icon-speech-bubble-left-tip"></i>💬 Comment
                                                        </a>
                                                        <a href="#">
                                                            <i class="batch-icon batch-icon-flag"></i>💩 Report
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="media mt-4">
                                                <div class="profile-picture bg-gradient bg-primary mb-4">
                                                    <img src="https://i.ibb.co/RYf3RgK/profile5.jpg" width="44" height="44">
                                                </div>
                                                <div class="media-body">
                                                    <div class="media-title mt-0 mb-1">
                                                        <a href="#">Jayne Bear</a> <small> 7 mins ago</small>
                                                    </div>
                                                  I love cats.
                                                    <div class="media-feed-control">
                                                        <a href="#">
                                                            <i class="batch-icon batch-icon-heart-full"></i>🐾 Like
                                                        </a>
                                                        <a href="#">
                                                            <i class="batch-icon batch-icon-speech-bubble-left-tip"></i>💬 Comment
                                                        </a>
                                                        <a href="#">
                                                            <i class="batch-icon batch-icon-flag"></i>💩 Report
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="comment-reply-block mt-4">
                                                <div class="form-group clearfix">
                                                    {{!-- <textarea class="form-control comment-reply-textarea" rows="2" placeholder="Enter your comment here..."></textarea>
                                                    <button type="button" class="btn btn-secondary btn-sm comment-reply float-right waves-effect waves-light">Reply</button> --}}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="profile-picture bg-gradient bg-primary mb-4">
                                    <img src="https://i.ibb.co/NrCdny6/profile2.jpg" width="44" height="44">
                                </div>
                                <div class="media-body">
                                    <div class="media-title mt-0 mb-1">
                                        <a href="#">Delightful Delia</a> <small> 1 hour ago</small>
                                    </div>
                                    <a href="#">
                                        <img src="https://i.ibb.co/mvRJT8k/fur2.jpg" class="img-fluid img-thumbnail">
                                    </a>
                                    <div class="media-feed-control">
                                        <a href="#">
                                            <i class="batch-icon batch-icon-heart-full"></i>🐾 Like (57)
                                        </a>
                                        <a href="#">
                                            <i class="batch-icon batch-icon-speech-bubble-left-tip"></i>💬 Comment
                                        </a>
                                        <a href="#">
                                            <i class="batch-icon batch-icon-flag"></i>💩 Report
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>

<div class="deck rounded-circle border" id="card-deck">
</div>



<script src='/js/profile.js'></script>
