<!-- Loop over each object in the projects array -->
{{#each tweets as |tweet|}}
 <a href='/tweet/{{tweet.id}}'> <div class='container mb-4 blog'>
    <div class='col'>
      <h5 class='blog-title'>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{{get_emoji}}}
        {{tweet.content}}

      </h5>
   
      <u><strong>posted by
        {{tweet.user.name}}
        on
        {{format_date tweet.date_created}} {{tweet.updatedAt}}</u></strong>
    </div>
    <div class='col-md-7'>

    </div>
  </div></a>
{{/each}}